.nav {
  position: fixed;
  z-index: 20;
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 20px 0 #0000001a;
  transition: background-color 0.5s, box-shadow 0.5s;
  &.transparent {
    background-color: transparent;
    box-shadow: none;
  }
  @include md {
  }
  .container {
    @include md {
      max-width: unset;
    }
  }
  nav {
    transition: padding 0.5s;
  }
  .logo {
    h1 {
      height: 120px;
      width: 320px;
      max-height: 120px;
      max-width: 320px;
      background: url(../../assets/logo/Fufutang-logo-pink-line.svg) no-repeat 0 0;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      background-size: cover;
      transition: max-height 0.5s, max-width 0.5s, width 0.5s, height 0.5s;
      &.smallScale {
        max-height: 88px;
        max-width: 234px;
        width: 234px;
        height: 88px;
      }
      @include xl {
        height: 105px;
        width: 280px;
        max-height: 105px;
        max-width: 280px;
      }
      @include lg {
        height: 75px;
        width: 200px;
        max-height: 75px;
        max-width: 200px;
      }
      @include md {
        height: 67.5px;
        width: 180px;
        max-height: 67.5px;
        max-width: 180px;
        &.smallScale {
          height: 60px;
          max-height: 60px;
          width: 160px;
          max-width: 160px;
        }
      }
    }
  }
}

.text-size {
  color: #fff;
  li {
    padding: 0 4px;
  }
  .medium {
    font-size: 16px;
  }
  .large {
    font-size: 24px;
  }
  .xlarge {
    font-size: 30px;
  }
}
