.medium-title {
  font-weight: bold;
  font-size: 2rem;
  margin: 2rem 0 4rem;
  @include md {
    margin: 1.5rem 0;
    font-size: 1.8rem;
  }
  p {
    letter-spacing: 3px;
    display: inline-block;
    position: relative;
    &:before {
      content: "";
      height: 3px;
      width: 30px;
      background-color: $fufu-primary-light;
      position: absolute;
      top: 50%;
      left: -40px;
    }
    &:after {
      content: "";
      height: 3px;
      width: 30px;
      background-color: $fufu-primary-light;
      position: absolute;
      top: 50%;
      right: -40px;
    }
  }
  img {
    height: 60px;
  }
}
