.pageBg {
  width: 100%;
  height: 250px;
  background-image: url("../../assets/images/fufutang.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; // 滾動視差
  position: relative;
  .pageTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    font-size: 3rem;
    color: white;
    font-weight: bold;
  }
  @include md {
    background-size: contain;
    height: 200px;
    background-position-y: 10px;
    .pageTitle {
      font-size: 2rem;
    }
  }
  @include sm {
    background-size: contain;
    height: 140px;
    background-position-y: 60px;
  }

  .pageBgOverlay {
    background-color: black;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.2;
    z-index: 2;
  }
}
