.sectionTitle {
  padding: 2rem 0;
  span {
    font-size: 2rem;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 3rem;
      top: 0;
      left: -1rem;
      background-color: $fufu-primary-deep;
    }
  }
  @include sm {
    padding: 2rem 0;
    text-align: center;
    span {
      font-size: 1.5rem;
      display: inline-block;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: 2rem;
        left: 0rem;
        background-color: $fufu-primary-deep;
      }
    }
  }
}
