.bg-primary {
  background-color: $fufu-primary !important;
}

.bg-secondary {
  background-color: $fufu-secondary !important;
}

.bg-tertiary {
  background-color: $fufu-tertiary !important;
}

.bg-quaternary {
  background-color: $fufu-quaternary !important;
}
