@import "./components/Header";
@import "./components/ClinicTime";
@import "./components/SmallTitle";
@import "./components/MediumTitle";
@import "./components/Footer";
@import "./components/News";
@import "./components/Menu";
@import "./components/SectionTitle";
@import "./components/Clinic";
@import "./components/Doctor";
@import "./components/ClinicSwitcher";
@import "./components/Backdrop";
@import "./components/Button";
@import "./components/Text";
@import "./components/PageTitle";
@import "./components/NewLabel";
@import "./components/Service";
@import "./components/Article";
