.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.table-container {
  @include sm {
    overflow-x: auto;
  }
}

.page {
  margin-top: 132px;
  margin-bottom: 48px;
  @include md {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.block {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @include md {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.text-indent {
  text-indent: 1rem;
}
