$fufu-primary: #3f4e4f;
$fufu-secondary: #2c3639;
$fufu-tertiary: #a27b5c;
$fufu-quaternary: #dcd7c9;

$footer-height: 400px;
$footer-md-height: 600px;

$gray-100: #eeeeee;
$gray-200: #d8d8d8;
$gray-300: #b9b9b9;
$gray-400: #969696;
$gray-500: #707070;
$gray-600: #515151;
