$footer-height: 400px;
$footer-lg-height: 496px;
$footer-md-height: 496px;

$gray-100: #eeeeee;
$gray-200: #d8d8d8;
$gray-300: #b9b9b9;
$gray-400: #969696;
$gray-500: #707070;
$gray-600: #515151;

$fufu-wood: #d4c9ac;
$fufu-wood-light: #ebe2cb;

$fufu-primary: #006897;
$fufu-primary-light: #53b1d2;
$fufu-primary-deep: #16495b;

$fufu-pink: #f68f7b;
$fufu-pink-light: #f3bbb3;
$fufu-pink-deep: #e0564b;
