@import "../mixin/break-point";
@import "../variables";

.clinic {
  .description {
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .contacts {
    font-weight: normal;
    flex-basis: 40%;
    p {
      line-height: 1.5;
    }
    @include md {
      font-size: 0.9rem;
    }
  }
  .googleMap {
    flex-basis: 40%;
  }
}
