.doctor-list {
  background-color: $fufu-wood;
  display: flex;
  justify-content: center;
  align-items: center;
  .text-button.doctor {
    color: white;
    padding: 16px 32px;
    &.active {
      color: $fufu-primary;
      border-bottom: 3px solid $fufu-primary;
    }
    .doctor-name {
      margin-bottom: 0 !important;
      font-size: 1.5rem;
    }
    .doctor-position {
      font-size: 1rem;
    }
  }
  @include sm {
    .text-button.doctor {
      .doctor-name {
        margin-bottom: 0 !important;
        font-size: 1rem;
      }
      .doctor-position {
        font-size: 0.75rem;
      }
    }
  }
}
