@import "./style/reset";
@import "./style/variables";
@import "./style/basic";
@import "./style/mixin";
@import "./style/custom";
@import "./style/components";
@import "./style/pages";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;700&display=swap");

html,
body,
#root,
.App {
  height: 100%;
  font-family: "Noto Sans TC", sans-serif !important;
}

.App {
  overflow-x: hidden;
  height: unset;
  min-height: 100%;
}

body {
  // background-color: $fufu-quaternary;
}

.body {
  padding-bottom: $footer-height;
  @include lg {
    padding-bottom: $footer-lg-height;
  }
  @include md {
    padding-bottom: $footer-md-height;
  }
}

a {
  cursor: pointer;
  text-decoration: none !important;
  &:hover {
    text-decoration: underline !important;
  }
}
