@import "./style/reset";
@import "./style/variables";
@import "./style/basic";
@import "./style/mixin";
@import "./style/custom";
@import "./style/components";
@import "./style/pages";

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  overflow-x: hidden;
  height: unset;
  min-height: 100%;
}

body {
  // background-color: $fufu-quaternary;
}

.body {
  padding-bottom: $footer-height;
  @include lg {
    padding-bottom: $footer-lg-height;
  }
  @include md {
    padding-top: 83px; // phone-menu height
    padding-bottom: $footer-md-height;
  }
}

a {
  cursor: pointer;
  text-decoration: none !important;
  &:hover {
    text-decoration: underline !important;
  }
}
