.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.table-container {
  @include md {
    overflow-x: auto;
  }
  @include sm {
    overflow-x: auto;
  }
}

.page {
  margin-top: 132px;
  margin-bottom: 48px;
  @include md {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.block {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @include md {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.text-indent {
  text-indent: 1rem;
}

.text-button {
  color: black;
  background-color: transparent;
  border: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000005d;
  z-index: 100;
}

.newLabel {
  display: inline-block;
  padding: 3px 6px;
  font-size: 0.8rem;
  color: white;
  background-color: #d12b2b;
  border-radius: 6px;
  margin-left: 8px;
}
