.bg-primary {
  background-color: $fufu-primary !important;
}

.bg-primary-deep {
  background-color: $fufu-primary-deep !important;
}

.bg-primary-light {
  background-color: $fufu-primary-light !important;
}

.bg-wood {
  background-color: $fufu-wood !important;
}

.bg-pink {
  background-color: $fufu-pink !important;
}

.bg-pink-light {
  background-color: $fufu-pink-light !important;
}

.bg-pink-deep {
  background-color: $fufu-pink-deep !important;
}
